spring:
  main:
    banner-mode: console
  banner:
    location: classpath:/banner.txt
  application:
    name: echo
    version: 0.1.0
  config:
    import: 'configserver:http://${CODEX_HOST}:${CODEX_PORT}'
