spring:
  main:
    banner-mode: console
  banner:
    location: classpath:/banner.txt
  application:
    name: echo
    version: 0.2.0-snapshot
  config:
    import: 'configserver:http://${CODEX_HOST}:${CODEX_PORT}'
