# config
/public/global.js

# Build
/coverage/
build/
/dist/
/junitResults/
/lib/
/node_modules/
/public/css/
/public/fonts/
.env
.eslintcache
.nyc_output
.nvmrc
.yalc
linter
npm-*
yarn-*
package-*

# Vim temp files
*~


# OS X - Desktop Services Store
# =============================
.DS_Store


# IDE - IntelliJ
# ==============
.bak/
.idea/
*.iml


# IDE - TernJS
# ============
.tern-project

# IDE - VSCode
# ============
.vscode


# Python - Build scripts
# ======================
*.pyc
__pycache__/
.python-version

# development
yalc.lock