# POSTGRESQL
ICECREAM_POSTGRESQL_USER=
ICECREAM_POSTGRESQL_PASSWORD=
ICECREAM_POSTGRESQL_IDENTITY_DB=
ICECREAM_POSTGRESQL_PRODUCT_DB=
ICECREAM_POSTGRESQL_PAYMENT_DB=
ICECREAM_POSTGRESQL_LEGACY_DB=
ICECREAM_POSTGRESQL_PORT=
ICECREAM_POSTGRESQL_HOST=
# FRONTEND
STOREFRONT_PORT=
BACKOFFICE_PORT=
LEGACY_FRONTEND_PORT=
# BACKEND
LEGACY_BACKEND_PORT=
## GATEWAY
GATEWAY_PORT=
## PRODUCT SERIVCE
PRODUCT_PORT=
