x-icecream-minio-common: &minio-common
  image: minio/minio:RELEASE.2025-04-22T22-12-26Z
  command: server --address ":9000" --console-address ":9001" /data
  environment:
    MINIO_ROOT_USER: ${MINIO_ACCESS_KEY}
    MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY}
  networks:
    - icecream-network

networks:
  icecream-network:
    driver: bridge

services:

  postgresql:
    container_name: icecream-postgresql
    build:
      context: .
      dockerfile: postgresql/Dockerfile
    ports:
      - ${POSTGRESQL_PORT}:5432
    volumes:
      - ${POSTGRESQL_VOLUME}:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRESQL_USER}
      POSTGRES_PASSWORD: ${POSTGRESQL_PASSWORD}
      POSTGRES_MULTIPLE_DATABASES: ${POSTGRESQL_CONSUL_DB},${POSTGRESQL_ECHO_DB},${POSTGRESQL_MEMOIR_DB},${POSTGRESQL_IDENTITY_DB}
    networks:
      - icecream-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRESQL_USER} -d postgres" ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s

  redis:
    container_name: icecream-redis
    image: redis:7.4.4
    ports:
      - ${REDIS_PORT}:6379
    networks:
        - icecream-network
    volumes:
        - ${REDIS_VOLUME}:/data
    healthcheck:
        test: ["CMD", "redis-cli", "ping"]
        interval: 5s
        timeout: 30s
        retries: 50

  identity:
    image: quay.io/keycloak/keycloak:26.2.5
    hostname: identity
    container_name: icecream-identity
    command: ['start-dev', '--import-realm']
    ports:
      - "${IDENTITY_PORT}:8080"
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_PROXY: passthrough
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgresql:5432/${POSTGRESQL_IDENTITY_DB}
      KC_DB_USERNAME: ${KEYCLOAK_DB_USER}
      KC_DB_PASSWORD: ${KEYCLOAK_DB_PASSWORD}
    depends_on:
      postgresql:
        condition: service_healthy
    volumes:
      - ../identity/data/import:/opt/keycloak/data/import
      - ../identity/themes:/opt/keycloak/themes
    networks:
      - icecream-network

  minio:
    <<: *minio-common
    container_name: icecream-minio
    hostname: minio
    ports:
      - "${MINIO_API_PORT}:9000"
      - "${MINIO_CONSOLE_PORT}:9001"
    volumes:
      - ${MINIO_VOLUME}:/data
    healthcheck:
      test: ["CMD", "curl", "-I", "http://localhost:${MINIO_API_PORT}/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

  rabbitmq:
    container_name: icecream-rabbitmq
    hostname: rabbitmq
    image: docker.io/rabbitmq:3.13.7-management-alpine
    ports:
      - ${RABBITMQ_PORT}:5672
      - ${RABBITMQ_MANAGEMENT_PORT}:15672
    volumes:
      - ${RABBITMQ_VOLUME}:/var/lib/rabbitmq
    networks:
      - icecream-network

  mongodb:
    container_name: icecream-mongodb
    image: mongo:8.0.10
    ports:
      - ${MONGODB_PORT}:27017
    environment:
      MONGO_INITDB_DATABASE: ${MONGODB_CHRONOS_DB}
      MONGO_INITDB_ROOT_USERNAME: ${MONGODB_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGODB_PASSWORD}
    volumes:
      - ${MONGODB_VOLUME}:/data/db
    networks:
      - icecream-network

  elasticsearch:
    image: elasticsearch:8.19.6
    container_name: icecream-elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
      - ELASTICSEARCH_USERNAME=${ELASTICSEARCH_USERNAME}
      - ELASTICSEARCH_PASSWORD=${ELASTICSEARCH_PASSWORD}
    ports:
      - "${ELASTICSEARCH_PORT}:9200"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - ${ELASTICSEARCH_VOLUME}:/usr/share/elasticsearch/data
    networks:
      - icecream-network

  kibana:
    image: kibana:8.19.6
    container_name: icecream-kibana-optional
    ports:
      - "${KIBANA_PORT}:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    depends_on:
      - elasticsearch
    networks:
      - icecream-network

  zookeeper:
    image: confluentinc/cp-zookeeper:7.8.4
    container_name: icecream-zookeeper
    hostname: zookeeper
    ports:
      - "${ZOOKEEPER_CLIENT_PORT}:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - icecream-network

  kafka:
    image: confluentinc/cp-kafka:7.8.4
    container_name: icecream-kafka
    hostname: kafka
    depends_on:
      - zookeeper
    ports:
      - "${KAFKA_PORT}:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:29092,EXTERNAL://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:29092,EXTERNAL://${KAFKA_HOST}:${KAFKA_PORT}
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    healthcheck:
      test: [ "CMD", "kafka-broker-api-versions", "--bootstrap-server", "kafka:29002" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 40s
    networks:
      - icecream-network

  debezium-connect:
    image: debezium/connect:2.7.3.Final
    container_name: icecream-debezium-connect
    depends_on:
      - kafka
      - zookeeper
      - postgresql
      - elasticsearch
    ports:
      - "${DEBEZIUM_CONNECT_PORT}:8083"
    environment:
      - BOOTSTRAP_SERVERS=kafka:29092
      - GROUP_ID=1
      - CONFIG_STORAGE_TOPIC=connect-configs
      - OFFSET_STORAGE_TOPIC=connect-offsets
      - STATUS_STORAGE_TOPIC=connect-status
      - KEY_CONVERTER=org.apache.kafka.connect.json.JsonConverter
      - VALUE_CONVERTER=org.apache.kafka.connect.json.JsonConverter
      - KEY_CONVERTER_SCHEMAS_ENABLE=false
      - VALUE_CONVERTER_SCHEMAS_ENABLE=false
      - INTERNAL_KEY_CONVERTER=org.apache.kafka.connect.json.JsonConverter
      - INTERNAL_VALUE_CONVERTER=org.apache.kafka.connect.json.JsonConverter
      - CONNECT_REST_ADVERTISED_HOST_NAME=debezium-connect
      - CONNECT_PLUGIN_PATH=/kafka/connect
    volumes:
      - ${DEBEZIUM_VOLUME}/plugins:/kafka/connect
      - ./debezium/connectors:/connectors
    networks:
      - icecream-network

  # schema-registry:
  #   image: confluentinc/cp-schema-registry:7.3.3
  #   hostname: schema-registry
  #   container_name: icecream-schema-registry
  #   depends_on:
  #     - zookeeper
  #     - kafka
  #   ports:
  #     - "${SCHEMA_REGISTRY_PORT}:8081"
  #   environment:
  #     SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: PLAINTEXT://kafka:19092
  #     SCHEMA_REGISTRY_HOST_NAME: schema-registry
  #     SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
  #   networks:
  #     - icecream-network

  # ops-control-center:
  #   image: confluentinc/cp-enterprise-control-center:7.3.3
  #   container_name: icecream-ops-control-center
  #   hostname: ops-control-center
  #   depends_on:
  #     - zookeeper
  #     - kafka
  #     - schema-registry
  #   ports:
  #     - "${CP_CONTROL_CENTER_PORT}:9021"
  #   environment:
  #     CONTROL_CENTER_BOOTSTRAP_SERVERS: "kafka:19092"
  #     CONTROL_CENTER_ZOOKEEPER_CONNECT: "zookeeper:2181"
  #     CONTROL_CENTER_SCHEMA_REGISTRY_URL: "schema-registry:8081"
  #     CONTROL_CENTER_REPLICATION_FACTOR: 1
  #     CONTROL_CENTER_INTERNAL_TOPICS_PARTITIONS: 1
  #     CONTROL_CENTER_MONITORING_INTERCEPTOR_TOPIC_PARTITIONS: 1
  #     CONFLUENT_METRICS_TOPIC_REPLICATION: 1
  #     PORT: 9021
  #   networks:
  #     - icecream-network


