<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <appender name="OTLP" class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
    <captureExperimentalAttributes>true</captureExperimentalAttributes>
    <captureKeyValuePairAttributes>true</captureKeyValuePairAttributes>
  </appender>

  <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp>
          <timeZone>UTC</timeZone>
        </timestamp>
        <logLevel/>
        <threadName/>
        <loggerName/>
        <message/>
        <mdc/>
        <arguments/>
        <stackTrace/>
        <globalCustomFields>
          {"service.name":"${spring.application.name:-unknown-service}"}
        </globalCustomFields>
      </providers>
    </encoder>
  </appender>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{HH:mm:ss.SSS} %highlight(%-5level) %magenta([%thread]) %cyan(%logger{36}) %green([trace:%X{trace_id} span:%X{span_id}]) : %msg%n
      </pattern>
    </encoder>
  </appender>

  <springProfile name="dev">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="OTLP"/>
    </root>
    <logger name="sanlab.icecream" level="DEBUG" additivity="false">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="OTLP"/>
    </logger>
  </springProfile>

</configuration>
