spring:
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
      resolve-lazily: true
  rsocket:
    server:
      transport: tcp
    mime-type: application/cbor
  data:
    mongodb:
      username: ${MONGODB_USER}
      password: ${MONGODB_PASSWORD}
      host: ${MONGODB_HOST}
      port: ${MONGODB_PORT}
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
  datasource:
    username: ${POSTGRESQL_USER}
    password: ${POSTGRESQL_PASSWORD}
    host: ${POSTGRESQL_HOST}
    driverClassName: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: false
    hibernate:
      ddl-auto: none
  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT}
    username: guest
    password: guest

logging:
  level:
    sanlab.icecream:
      consul: INFO
      chronos: INFO
      echo: INFO
      memoir: INFO

app:
  minio:
    url: ${STORAGE_URL}
    access:
      key: ${MINIO_ACCESS_KEY}
      secret: ${MINIO_SECRET_KEY}
    bucket:
      image: images
  consul:
    rsocket:
      host: ${CONSUL_RSOCK_HOST}
      port: ${CONSUL_RSOCK_PORT}
  memoir:
    rsocket:
      host: ${MEMOIR_RSOCK_HOST}
      port: ${MEMOIR_RSOCK_PORT}
  echo:
    rsocket:
      host: ${ECHO_RSOCK_HOST}
      port: ${ECHO_RSOCK_PORT}
  chronos:
    rsocket:
      host: ${CHRONOS_RSOCK_HOST}
      port: ${CHRONOS_RSOCK_PORT}
