server:
  address: ${MEMOIR_HOST}
  port: ${MEMOIR_PORT}

spring:
  application:
    name: memoir
  rsocket:
    server:
      port: ${MEMOIR_RSOCK_PORT}
  datasource:
    url: jdbc:postgresql://${POSTGRESQL_HOST}:${POSTGRESQL_PORT}/${POSTGRESQL_MEMOIR_DB}
  liquibase:
    enabled: true
    changeLog: classpath:/db/changelog/master.xml
  cloud:
    stream:
      bindings:
        auditlog-in-0:
          binder: rabbit
          destination: audit_log_queue
