server:
  address: ${MEMOIR_HOST}
  port: ${MEMOIR_PORT}

spring:
  application:
    name: memoir
  rsocket:
    server:
      port: ${MEMOIR_RSOCKET_PORT}
  datasource:
    url: jdbc:postgresql://${POSTGRESQL_HOST}:${POSTGRESQL_PORT}/${POSTGRESQL_MEMOIR_DB}
  liquibase:
    enabled: true
    changeLog: classpath:/db/changelog/master.xml
  cloud:
    function:
      definition: helloKafka;auditLog # Consumer bean name
    stream:
      bindings:
        auditLog-in-0:
          binder: kafka-binder
          destination: icecream.consul.audit-log
          group: memoir-consumer-group
        helloKafka-in-0:
          group: memoir-consumer-group

#logging:
#  level:
#    sanlab.icecream:
#      memoir: INFO
#    org.apache.kafka.clients: INFO
#    org.apache.kafka.common.network: INFO
#    org.springframework.cloud.stream.binder.kafka: DEBUG
#    org.springframework.kafka: DEBUG
#    org.springframework.amqp: DEBUG
#    org.springframework.cloud.stream: DEBUG
#    org.springframework.cloud.function: DEBUG
