global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: "grafana"
    static_configs:
      - targets: ["grafana:3000"]

  - job_name: "otel-collector"
    static_configs:
      - targets: [ "otel-collector:9464" ]

remote_write:
  - url: http://mimir:9009/api/v1/push
